canvas{
    display: block;
    margin: 20px auto;
    box-shadow: -2px -2px 2px #EFEFEF, 5px 5px 5px #B9B9B9; /*左上角和右下角加颜色阴影*/
}
button{
    display: block;
    font-family: "Calibri Light";
    margin: 40px auto;
    box-shadow:  1px 1px 1px #B9B9B9;
}
p{
    font-size: 14px;
    font-family: "Calibri Light";
    color: #9999BB;
    display: block;
    text-align: center;
    box-shadow: -2px -2px 2px #EFEFEF
}