/*
 * jQuery FlexSlider v1.4
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; display:block;}
.flexslider .slides  li {position: relative;}
.flexslider-container {position: relative;}


/* Caption style */
.flex-caption {position: absolute; left: 40px; top: 40px; background:url(../images/slider-caption-bg.png); width:190px; height:188px; text-align:center; padding:90px 44px 0px 44px; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic;}
.flex-caption span.title {font-family: "Oswald", sans-serif; text-transform:uppercase; font-style:normal; font-size: 14px; line-height: 21px; color:#fa9152; } 

/* Direction Nav */
.flex-direction-nav { height: 0; }
.flex-direction-nav li a {width: 32px; height: 32px; margin: 0px; display: block; background: url(../images/slider-arrows-sprite.png) no-repeat 0 0; position: absolute; bottom: 35px; cursor: pointer; text-indent: -9999px;} /* set negative margin-top equal to half the height on the directional-nav for perfect vertical centering */
.post-slider .flex-direction-nav li a {bottom: 15px;}
.flex-direction-nav li a.next {background-position: -32px 0; right: 20px;}
.flex-direction-nav li a.prev {background-position: 0 0; left: 20px;}

/* Control Nav */
.flex-control-nav {margin-left: -27px; position: absolute; bottom: -10px; left: 50%; list-style:none;} /* set negative margin-left equal to half the width on the control-nav for perfect centering */
.flex-control-nav li {margin: 0 0 0 5px; float: left;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 7px; height: 7px; display: block; background: url(../images/slider-control-nav.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -8px;}
.flex-control-nav li a.active {background-position: 0 -16px; cursor: default;}


/* Testimonial Slider Adjustments
******************************************/
.testimonial-slider-container { position: relative; }
.testimonial-slider-container .flex-direction-nav { height: 0; }
.testimonial-slider-container .flex-direction-nav li a {top:40%;}
.testimonial-slider-container .flex-direction-nav li a.next {background-position: -32px 0; right: 20px;}
.testimonial-slider-container .flex-direction-nav li a.prev {background-position: 0 0; left: 20px;}

/* Home & Page Slider Adjustments
******************************************/
.home-slider li{ margin-bottom: 10px; padding-bottom:10px; }
.page-slider{ margin: 40px  0px 20px 0px; }
.page-slider .flex-direction-nav li a { bottom: 20px; }

/* Gallery Details View Slider Adjustments
******************************************/
.gallery-full-img .flex-direction-nav li a { bottom: 20px; }